.about {
    text-align: center;
  }
  
  .about h4 {
    color: #ffd700; /* Rich Gold */
  }
  
  .about h1 {
    color: #0a043c; /* Deep Royal Blue */
    font-size: 2.5rem; /* Example font size adjustment */
  }
  
  .about img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Example margin adjustment */
  
      color: #555;
}
.about h1 {
    color: darkcyan
}